<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do list</title>
    {{ form.media }}
</head>
<body>
<h1>To-do</h1>
{% if messages %}
    {% for message in messages %}
        <h3> <strong>{{ message }}</strong></h3>
    {% endfor %}
{% endif %}
    {% for task in tasks %}
<section>
    <ul>
        <strong>{{ task.id }}: </strong> {{ task.task}}
            <br/>
            <a href="{% url 'editar' task.id %}">Editar</a>
            <a href="{% url 'delete' task.id %}">Deletar</a>
    </ul>
</section>
    {% endfor %}

<!--    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        <textarea name="task" cols="30" rows="5"></textarea>
        <br/>
        <button type="submit">Salvar</button>
    </form>
    <br/>
    <br/>-->
    <hr/>
    <div>UTILIZANDO FORMS DO DJANGO
            <form action="{% url 'salvar' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar</button>
            </form>
    </div>
    <hr/>

</body>
</html>