<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do list</title>
</head>
<body>
<h1>To-do</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.get_status_display }} - {{ task.task }}
                <a href="{% url 'editar' task.id %}">Editar</a>
                <a href="{% url 'delete' task.id %}">Deletar</a>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="task">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>