<div class="pagination center">
    <span class="step-links">
        {% if recipes.has_previous %}
            <a href="?page=1"><i class="fas fa-backward"></i></a>
            <a href="?page={{ recipes.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}

        <span class="current">
            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
        </span>

        {% if recipes.has_next %}
            <a href="?page={{ recipes.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            <a href="?page={{ recipes.paginator.num_pages }}"><i class="fas fa-forward"></i></a>
        {% endif %}
    </span>
</div>